@import "../../Colors.scss";

.header {
  @include color-theme('background-color', 'accent-background');
  @include color-theme('color', 'accent-text');

  height: 48px;
  display: flex;
}

.header-logo-area {
  display: flex;
  align-items: center;
  width: 265px;
}

.header-logo-area-logo {
  width: 32px;
  height: 32px;
  margin: 0 8px 4px 16px;
}

.header-logo-area-text {
  width: 85px;
  height: 18px;
}

.header-tabs-area {
  margin-right: auto;
}

.header-user-area {
  margin: 12px 24px 12px 0;
}

.header-user-area-image {
  width: 24px;
  height: 24px;
}