
$themes: (
        default: (
                accent-background: #406ac4,
                accent-text: #fff,
                page-background: #fff,
                logo-color: #1bc48f,
                border-color: #17c58f

        ),
);


@mixin color-theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}
